body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 1200px;
    min-width: 730px;
    border: solid rgb(143, 143, 143);
    border-width: 0.5px;
    align-self: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    box-shadow: 10px -10px 13px 0px rgba(0,0,0,0.7);
    padding: 30px;
    cursor: default;
}

/*texto cabecera"*/
header{
    font-size: 22px;
    text-align: center;
}

/*tabla "información personal"*/
header table{
    background-color: rgba(252, 211, 158, 0.5);
    padding-bottom: 21.3px;
    border-radius: 30px;
    border-style: solid;
    border-color:  rgba(252, 211, 158, 1);
    border-width: 0.5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.ask{
    max-width: 250px;
    height: 40px;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}

.answer{
    max-width: 450px;
    vertical-align: top;
    text-align: left;
}

.my-photo{
    float: right;
    max-width: 385px;
    width: 37.8%;
    border-radius: 100px;
    margin-left: 30px;
    margin-bottom: 30px;
}
/*hasta aquí la cabecera*/

.inactive{display: none;}
.active{display: inherit;}

[name="contentoption"]{padding-right: 30px; padding-bottom: 30px; min-width: 730px; box-sizing: border-box;}      /*contenedores de información principal*/
[name="contentoption"] p{margin: 0px auto;}

.menu{font-size: 0px;min-width: 730px;}                                /*para que las pestañas del menú estén juntas*/
.menu div{                                                             /*atributos del menu*/
    box-sizing: border-box;
    width: 25%;
    min-width: 182.5px;
    display: inline-block;
    font-size: 24px;
    vertical-align: text-bottom;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-top-right-radius: 50px;
    border-left: solid 0.5px;
    border-top: solid 0.5px;
    border-right: solid 0.5px;
    cursor: pointer;
}

/*empieza el codigoo para los bordes en los menus y los contenedores desplegados*/
#menu1{border-right-color: rgb(236, 148, 116);border-left-color: rgb(236, 148, 116);border-top-color: rgb(236, 148, 116);background-color: rgba(236, 148, 116, 0.3);}
#experience{border-left: solid 0.510px;border-bottom: solid 0.510px;border-right: solid 0.510px;border-right-color: rgb(236, 148, 116);border-left-color: rgb(236, 148, 116);border-bottom-color: rgb(236, 148, 116);background-color: rgba(236, 148, 116, 0.3);}
#menu2{border-right-color: rgb(147, 214, 145);border-left-color: rgb(147, 214, 145);border-top-color: rgb(147, 214, 145);background-color: rgba(147, 214, 145,0.3);}
#studies{border-left: solid 0.510px;border-bottom: solid 0.510px;border-right: solid 0.510px;border-right-color: rgb(147, 214, 145);border-left-color: rgb(147, 214, 145);border-bottom-color: rgb(147, 214, 145);background-color: rgba(147, 214, 145,0.3);}
#menu3{border-right-color: rgb(119, 199, 231);border-left-color: rgb(119, 199, 231);border-top-color: rgb(119, 199, 231);background-color: rgba(119, 199, 231,0.3);}
#aptitudes{border-left: solid 0.510px;border-bottom: solid 0.510px;border-right: solid 0.510px;border-right-color: rgb(119, 199, 231);border-left-color: rgb(119, 199, 231);border-bottom-color: rgb(119, 199, 231);background-color: rgba(119, 199, 231,0.3);}
#menu4{border-right-color: rgb(221, 153, 238);border-left-color: rgb(221, 153, 238);border-top-color: rgb(221, 153, 238);background-color: rgb(221, 153, 238, 0.3);}
#another{border-left: solid 0.510px;border-bottom: solid 0.510px;border-right: solid 0.510px;border-right-color: rgb(221, 153, 238);border-left-color: rgb(221, 153, 238);border-bottom-color: rgb(221, 153, 238);background-color: rgb(221, 153, 238, 0.3);}

.experience{

    border-bottom: solid 0.5px rgb(236, 148, 116);

}

.studies{

    border-bottom: solid 0.5px rgb(147, 214, 145);

}
.aptitudes{

    border-bottom: solid 0.5px rgb(119, 199, 231);

}
.another{
    border-bottom: solid 0.5px rgb(221, 153, 238);
}

.menuselected{font-weight: bold;color: rgb(23, 40, 138);}

.icon{                                                                 /*iconos de experiencia, formación...*/
    display: inline-block;
    height: 150px;
    box-sizing: border-box;
    width: 200px;
    background-color: rgba(252, 252, 252, 0.479);
    border: solid 0.5px rgba(58, 58, 58, 0.2);
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 25px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}

.bigicon{                                                                 /*iconos de experiencia, formación...*/
    font-size: 20px;
    display: inline-block;
    height: 174px;
    box-sizing: border-box;
    width: 232px;
    background-color: rgba(255, 255, 255);
    border: solid 3.5px rgba(58, 58, 58, 0.5);
    border-radius: 25px;
    margin-left: 14px;
    margin-top: 13px;
    margin-right: -16px;
    margin-bottom: -12px;
    line-height: 97%;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    text-shadow: 0px 0px 2px rgba(226, 188, 63, 0.7), 0px 0px 4px rgba(226, 188, 63, 0.8), 1px 1px 8px rgba(226, 188, 63, 0.9), 0px 0px 16px rgb(226, 188, 63);
}

.bigiconanother{                                                                 /*iconos de other*/
    font-size: 28px;
    vertical-align: middle;
    display: inline-block;
    height: 167px;
    width: 225px;
    background-color: rgba(251, 255, 0, 0.329);
    border-radius: 21.5px;
    line-height: 97%;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(226, 188, 63, 0.7), 0px 0px 4px rgba(226, 188, 63, 0.8), 1px 1px 8px rgba(226, 188, 63, 0.9), 0px 0px 16px rgb(226, 188, 63);
}

.iconimageselected{                                                                 /*iconos de other*/
    font-size: 20px;
    display: inline-block;
    height: 174px;
    box-sizing: border-box;
    width: 690px;
    background-color: rgba(255, 255, 255);
    border: solid 3.5px rgba(58, 58, 58, 0.5);
    border-radius: 25px;
    margin-left: 14px;
    margin-top: 13px;
    margin-right: -16px;
    margin-bottom: -12px;

    vertical-align: top;
    cursor: pointer;
}

.iconimageselected img{
    border-bottom-left-radius: 21.5px;
    border-top-left-radius: 21.5px;
}

.iconimageselected div{
    vertical-align: top;
    display: inline-block;
    background-color: rgba(224, 228, 171, 0.459);
    border-top-right-radius: 21.5px;
    border-bottom-right-radius: 21.5px;
    height: 168px;
    width: 453px;
    text-align: center;
    font-size: 28px;
}

.iconimageselected div h1{margin-top: 15px;}

.iconselected{
    float: right;
    height: 500px;
    box-sizing: border-box;
    width: 670px;
    background-color: rgba(252, 252, 252, 0.479);
    border: solid 0.5px rgba(58, 58, 58, 0.219);
    border-radius: 25px;
    margin-top: 25px;
    vertical-align: top;
}

.iconaptitudselected{
    box-sizing: border-box;
    margin-right: -30px;
    margin-top: 25px;
}

.jobtittle{
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    margin-top: 30px;
    margin-left: 30px;
    color: rgb(236, 148, 116);
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}

.aptitudetittle{
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    box-sizing: border-box;
    width: 400px;
    margin-top: 30px;
    color: rgb(119, 199, 231);
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}

.jobname{
    font-size: 28px;
    margin-top: -20px;
    margin-bottom: -60px;
    text-align: center;
    width: 100%;
    color: rgb(77, 44, 35);
}

.aptitudename{
    font-size: 28px;
    margin-top: -20px;
    margin-bottom: -60px;
    width: 100%;
    color: rgb(35, 57, 65);
}

.jobdescription{
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    margin-left: 30px;
    font-size: 24px;
    padding: 8px;
    border: solid 0.5px rgb(236, 148, 116);
    background-color: rgba(236, 148, 116, 0.1);
    border-radius: 20px;
    text-align: center;
    vertical-align: top;
}

.aptitudedescription{
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    box-sizing: border-box;
    width: 400px;
    font-size: 24px;
    padding: 8px;
    border: solid 0.5px rgb(119, 199, 231);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    vertical-align: top;
}

.jobexplain{
    margin: 30px;
    font-size: 20px;
    text-align: justify;
}

.aptitudeexplain{
    margin: 30px;
    font-size: 20px;
    text-align: justify;
}

.aptitudeexplain div{
    display: inline-block;
    font-size: 20px;
    text-align: justify;
    width: 96%;
    vertical-align: top;

}

.enlaces{

    width: 50px;
    margin: 30px;

}